.DS_Store
thumbs.db
*.tmp
*.log
*.bak

.zcompdump*
.zsh_history
.bash_history
.python_history
.node_repl_history
.wget-hsts
.lesshst
.histfile

*.swp
*.swo
undo/
.netrwhist
shada/

*.sock

icon-theme.cache
gschemas.compiled
gtkrc-2.0

Kvantum/*.kvconfig.lock

GPUCache/
Cache/
Local\ Storage/
Session\ Storage/
*.log

__pycache__/
node_modules/
.venv/
dist/
build/

.env
*.pem
*.key
authorized_keys
